<div class="container" align="center">


  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <%= form_for(@comment) do |c| %>

    <% if @comment.errors.any? %>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-inline">
      <div class="form-group">
        <%= c.text_field :user, class: "form-control user", placeholder: "Yo name plz" %>
        <%= c.text_field :description, class: "form-control des", placeholder: "whatchu wanna say?" %>
        <%= c.submit "Post it!", class: "btn btn-success newbtn" %>
      </div>
    </div>


  <% end %>


</div>

<div class="container" >
  <div class="row" align="center">
    <div class="col-md-6 col-xs-10 col-centered">
      <ul class="custo">
        <% @comments.each do |comment| %>
          <li class="cust">

            <%= comment.description %>
            <span class="label label-primary">- <%= comment.user %></span>
            <br/>
            <small>
              <%= time_ago_in_words(comment.created_at) %> ago
            </small>
            <div class="rightbox">
              <span class="verttext"><i class="fa fa-ellipsis-v"></i> </span>
              <%= link_to "Delete", comment_path(comment), method: :delete, data: {confirm: "Are you sure?"}, class: "label label-default del" %>
            </div>
          </li>

        <% end %>
      </ul>
      <button class="btn btn-default showhide" type="button" name="button"> Show More </button>
    </div>
  </div>
</div>
